/* /Pages/Main/Clientes.razor.rz.scp.css */
.mainContainer[b-0ophteuo75] {
    height: 100%;
    width: 100%;
    background-color: #FCFCF4;
    border-radius: 15px;
    padding: 5px;
}
.table[b-0ophteuo75] {
    width:100%;
    text-align: center;
}
    .table tr[b-0ophteuo75] {
        background-color: #141C6C;
        color: #FFFFFF;
        height: 40px;
    }
    .table td[b-0ophteuo75] {
        background-color: #FFFFFF;
        color: #141C6C;
    }

 .btnMostrar[b-0ophteuo75] {
        height: 28px;
        font-size: 16px;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        background-color: #5F658E;
        color: white;
    }
/* /Pages/Main/Inicio.razor.rz.scp.css */
.page[b-h4jlgwo5k5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-h4jlgwo5k5] {
    flex: 1;
}

.mainConainer[b-h4jlgwo5k5] {
    width: 100%;
    height: 93vh;
}

.topMenu[b-h4jlgwo5k5] {
    height: 40px;
    margin-left: 15px;
}

.content[b-h4jlgwo5k5] {
    height: 90%;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    /* */ overflow: auto;
}

.btnMenu[b-h4jlgwo5k5] {
    background-color: white;
    border: none;
    border-radius: 10px 10px 0 0;
    font-size: 120%;
    height: 100%;
    width: 20%;
}

.divBtn[b-h4jlgwo5k5] {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}

.buscador[b-h4jlgwo5k5] {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    width: 25%;
    height: 40px;
    background-color: #ACA4CC;
    padding: 10px;
    /*#c4d5e7*/
}

.inputBusqueda[b-h4jlgwo5k5] {
    width: 90%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: #FFFFFF;
}

    .inputBusqueda:hover[b-h4jlgwo5k5] {
        outline-style: none;
    }

.list[b-h4jlgwo5k5] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79%;
}

.btnLupa[b-h4jlgwo5k5] {
    border: none;
    background: none;
}

.searcher[b-h4jlgwo5k5] {
    display: flex;
    justify-content: space-between;
    /*padding: 0 15px;*/
}

.btnNuevo[b-h4jlgwo5k5] {
    border-radius: 8px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0 10px;
    align-items: center;
    background-color: #5F658E;
    color: #FFFFFF;
}

/*Slide button CSS*/
/* The switch - the box around the slider */
.switch[b-h4jlgwo5k5] {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input[b-h4jlgwo5k5] {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider[b-h4jlgwo5k5] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ACA4CC;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px;
    height: 25px;
}

    .slider[b-h4jlgwo5k5]:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider[b-h4jlgwo5k5] {
    background-color: #5F658E;
}

input:focus + .slider[b-h4jlgwo5k5] {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider[b-h4jlgwo5k5]:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round[b-h4jlgwo5k5] {
    border-radius: 34px;
}

    .slider.round[b-h4jlgwo5k5]:before {
        border-radius: 50%;
    }


.switches[b-h4jlgwo5k5] {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px 0;
}

    .switches span[b-h4jlgwo5k5] {
        margin-right: 10px;
    }

    .switches .datetime[b-h4jlgwo5k5] {
        border: none;
        font-size: 16px;
        color: #141C6C;
        outline: none;
        width: 100px;
        margin-right: 15px;
    }

        .switches .datetime:hover[b-h4jlgwo5k5] {
            cursor: pointer;
        }

    .switches .guion[b-h4jlgwo5k5] {
        margin: 0 15px 0 0;
        font-size: 20px;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-h4jlgwo5k5] {
        display: none;
    }

    .top-row.auth[b-h4jlgwo5k5] {
        justify-content: space-between;
    }

    .top-row[b-h4jlgwo5k5]  a, .top-row[b-h4jlgwo5k5]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-h4jlgwo5k5] {
        flex-direction: row;
    }

    .sidebar[b-h4jlgwo5k5] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-h4jlgwo5k5] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-h4jlgwo5k5]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-h4jlgwo5k5], article[b-h4jlgwo5k5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Main/Login.razor.rz.scp.css */
.login-card[b-xakeodgmyy] {
    width: 20.83vw;
    height: 69vh;
    background-color: #3D276A;
    padding-top: 5.7vh;
    border-radius: 2.6vw;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 2.95vh
}

.top-circle[b-xakeodgmyy] {
    width: 10.4vw;
    height: 10.4vw;
    background-color: #999999;
    border-radius: 50%;
}

.input-container[b-xakeodgmyy] {
    width: 15.62vw;
    height: 4.72vh;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.input-icon[b-xakeodgmyy] {
    width: 2.1vw;
    height: 2.1vw;
    background-color: #ffffff;
    margin: 0.3vw
}

.input-placeholder[b-xakeodgmyy] {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 2.16vh;
}

.text-link[b-xakeodgmyy] {
    color: white;
    font-style: italic;
    font-size: 1.77vh;
}

    .text-link:hover[b-xakeodgmyy] {
        color: #ffffff;
        font-style: italic;
        font-size: 1.77vh;
        cursor: pointer;
    }

.input-remember-container[b-xakeodgmyy] {
    width: 15.62vw;
    height: 4.72vh;
    display: flex;
    align-items: center;
}

.input-chkbx[b-xakeodgmyy] {
    width: 1.17vw;
    height: 1.17vw;
    background-color: #ffffff;
    margin-right: 0.3vw;
}

.text-small[b-xakeodgmyy] {
    color: #ffffff;
    font-style: oblique;
    font-size: 1.77vh;
}

.submit-button[b-xakeodgmyy] {
    width: 15.62vw;
    height: 4.91vh;
    background-color: #999999;
    border-radius: 2.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-text[b-xakeodgmyy] {
    color: #ffffff;
    font-style: normal;
    font-size: 2.45vh
}
/* /Pages/Main/Pagos.razor.rz.scp.css */
.mainContainer[b-bl8vr66mtu] {
    margin-top: 64px;
    height: 100%;
    width: 100%;
    background-color: #FCFCF4;
    border-radius: 15px;
    padding: 5px;
}

.table[b-bl8vr66mtu] {
    width: 100%;
    text-align: center;
}

    .table tr[b-bl8vr66mtu] {
        background-color: #141C6C;
        color: #FFFFFF;
        height: 40px;
    }

    .table td[b-bl8vr66mtu] {
        background-color: #FFFFFF;
        color: #141C6C;
    }

.btnMostrar[b-bl8vr66mtu] {
    height: 28px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #5F658E;
    color: white;
}
/* /Shared/Buscador.razor.rz.scp.css */
.buscador[b-4jihwlmx48] {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    width: 30%;
    height: 5vh;
    background-color: #ACA4CC;
}
.inputBusqueda[b-4jihwlmx48] {
    width: 90%;
    height: 100%;
    border: none;
    background-color: #ACA4CC;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    color: #FFFFFF;
}
.btnLupa[b-4jihwlmx48]
{
    border: none;
    background: none;
}

[b-4jihwlmx48]::placeholder {
    color: #FFFFFF;
    opacity: 1; 
}
/* /Shared/ConfirmacionBajaCliente.razor.rz.scp.css */
.confirmacion[b-2ss5vk1qlz]{

}
/* /Shared/LoginLayout.razor.rz.scp.css */
.main[b-yo40j3bv4r] {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-6i9p38o976] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6i9p38o976] {
    flex: 1;
}

.mainConainer[b-6i9p38o976] {
    width: 100%;
    height: 93vh;
}
.topMenu[b-6i9p38o976] {
    height: 40px;
    margin-left: 15px;
}
.content[b-6i9p38o976] {
    height: 90%;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    /* */overflow: auto;
}
.btnMenu[b-6i9p38o976] {
    background-color: white;
    border: none;
    border-radius: 10px 10px 0 0;
    font-size: 120%;
    height: 100%;
    width: 20%;

}
.divBtn[b-6i9p38o976] {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}
.buscador[b-6i9p38o976] {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    width: 25%;
    height: 40px;
    background-color: #ACA4CC;
    padding: 10px;
    /*#c4d5e7*/
}

.inputBusqueda[b-6i9p38o976] {
    width: 90%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: #FFFFFF;
}
.inputBusqueda:hover[b-6i9p38o976]
{
    outline-style: none;
}
.list[b-6i9p38o976]
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79%;
}
.btnLupa[b-6i9p38o976] {
    border: none;
    background: none;
}
.searcher[b-6i9p38o976] {
    display: flex;
    justify-content: space-between;
    /*padding: 0 15px;*/
}
.btnNuevo[b-6i9p38o976] {
    border-radius: 8px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0 10px;
    align-items: center;
    background-color: #5F658E;
    color: #FFFFFF;
}

/*Slide button CSS*/
/* The switch - the box around the slider */
.switch[b-6i9p38o976] {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input[b-6i9p38o976] {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider[b-6i9p38o976] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ACA4CC;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px;
    height: 25px;
}

    .slider[b-6i9p38o976]:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider[b-6i9p38o976] {
    background-color: #5F658E;
}

input:focus + .slider[b-6i9p38o976] {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider[b-6i9p38o976]:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round[b-6i9p38o976] {
    border-radius: 34px;
}

    .slider.round[b-6i9p38o976]:before {
        border-radius: 50%;
    }


.switches[b-6i9p38o976] {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px 0;
}
    .switches span[b-6i9p38o976] {
        margin-right: 10px;
    }
    .switches .datetime[b-6i9p38o976] {
        border: none;
        font-size: 16px;
        color: #141C6C;
        outline: none;
        
        width: 100px;
        margin-right: 15px;
    }
    .switches .datetime:hover[b-6i9p38o976]{
        cursor: pointer;
    }
    .switches .guion[b-6i9p38o976] {
        margin: 0 15px 0 0;
        font-size: 20px;
    }
@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6i9p38o976] {
        display: none;
    }

    .top-row.auth[b-6i9p38o976] {
        justify-content: space-between;
    }

    .top-row[b-6i9p38o976]  a, .top-row[b-6i9p38o976]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6i9p38o976] {
        flex-direction: row;
    }

    .sidebar[b-6i9p38o976] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6i9p38o976] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-6i9p38o976]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-6i9p38o976], article[b-6i9p38o976] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/MostrarCliente.razor.rz.scp.css */
.card[b-g2mczbx1rj] {
    left: 260px;
    /* display: flex; */
    position: absolute;
    top: 55px;
    width: 60%;
    align-items: center;
    height: 450px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 6px 4px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 5px 6px 4px -1px rgba(0,0,0,0.31);
    box-shadow: 5px 6px 4px -1px rgba(0,0,0,0.31);
}
.datos[b-g2mczbx1rj] {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.up-bar[b-g2mczbx1rj] {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn[b-g2mczbx1rj] {
    border: none;
    background: none;
}
h4[b-g2mczbx1rj]{
    font-weight : bold;
}
.btn-baja[b-g2mczbx1rj] {
    height: 28px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #b94449;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    padding: 16px;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-nph7bkdc91] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-nph7bkdc91] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-nph7bkdc91] {
    font-size: 1.1rem;
}

.oi[b-nph7bkdc91] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-nph7bkdc91] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-nph7bkdc91] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-nph7bkdc91] {
        padding-bottom: 1rem;
    }

    .nav-item[b-nph7bkdc91]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-nph7bkdc91]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-nph7bkdc91]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-nph7bkdc91] {
        display: none;
    }

    .collapse[b-nph7bkdc91] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
