.card {
    left: 260px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    width: 60%;
    align-items: flex-start;
    height: 450px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 6px 4px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 5px 6px 4px -1px rgba(0,0,0,0.31);
    box-shadow: 5px 6px 4px -1px rgba(0,0,0,0.31);
}

svg {
    align-self: flex-end;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.datosCliente,
.datosVehiculo,
.datosPoliza {
    width: 30%; /* Ajusta el ancho según sea necesario */
}
