@inject NavigationManager Navigation

@using ConesaApp.Client.Pages.Services
@using ConesaApp.Database.Data.Entities

@inject IHttpService http

@page "/inicio"
@layout MainLayout

<h3>Inicio</h3>

@code {

}