.containter-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-card {
    width: 20.83vw;
    height: 62vh;
    background-color: #222F7A;
    padding-top: 5.7vh;
    border-radius: 2.6vw;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 2.95vh
}

.top-circle {
    width: 10.4vw;
    height: 10.4vw;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 15.62vw;
    height: 4.72vh;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.input-icon {
    width: 2.1vw;
    height: 2.1vw;
    background-color: transparent;
    margin: 0.3vw
}

.input-placeholder {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;
}



.input-remember-container {
    width: 15.62vw;
    height: 4.72vh;
    display: flex;
    align-items: center;
}

.input-chkbx {
    width: 1.17vw;
    height: 1.17vw;
    background-color: #ffffff;
    margin-right: 0.3vw;
}

.text-small {
    color: #ffffff;
    font-style: oblique;
    font-size: 1.77vh;
}

.submit-button {
    font-size: 18px;
    color: #222F7A;
    width: 15.62vw;
    height: 4.91vh;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


