.confirmacion {
    width: 70%;
    height: 35%;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}
.btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn-baja {
    height: 28px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #b94449;
    color: #FFFFFF;
    padding: 16px;
}

.btn-alta {
    height: 28px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #038b12;
    color: #FFFFFF;
    padding: 16px;
}