@using ConesaApp.Client.Pages.Services
@using ConesaApp.Database.Data.Entities
@inject IHttpService http
<div class="confirmacion">

    <p>Modificación de estado</p>
    <div class="btns">
        
        @if(vehiculo.Activo)
        {
            @if(vehiculo.Cliente.Activo)
            {
                <button class="btn-baja" @onclick="DarBajaCliente">Dar de baja cliente</button>
            }
            <button class="btn-baja" @onclick="DarBajaVehiculo">Dar de baja vehículo</button>
        }
        else
        {
            <button class="btn-alta" @onclick="DarAltaVehiculo">Dar de alta vehículo</button>
        }
        <button class="btn btn-light"  @onclick="Cerrar">Cancelar</button>
    </div>
    
</div>

@code {
    [Parameter]
    public EventCallback Cerrar { get; set; }
    [Parameter]
    public Vehiculo vehiculo { get; set; }
    [Parameter]
    public EventCallback DarBajaCliente { get; set; }
    [Parameter]
    public EventCallback DarBajaVehiculo { get; set; }
    [Parameter]
    public EventCallback DarAltaVehiculo { get; set; }

    private async Task Cancelar()
    {
        await Cerrar.InvokeAsync(null);
    }
}


