@using ConesaApp.Client.Pages.Main
@using ConesaApp.Client.Pages.Services
@inject NavigationManager navigationManager
@inherits LayoutComponentBase

@page "/login"

<div class="main" >
	<Login/>
</div>

@code {

}